<ModalDialog
  @translucentOverlay={{true}}
  @onClose={{@close}}
>
  <div local-class="container">
    <h4>Image Gallery</h4>

    <div>
      <Loader::LazyModel
        @model="embedPhoto"
        @width={{500}}
        @height={{150}} as |lazy|
      >
        <lazy.Loading as |l|>
          <l.Spinner />
        </lazy.Loading>

        <lazy.Loaded as |resources|>
          {{#each resources as |image|}}
            <div>{{image.caption}}</div>
          {{/each}}
        </lazy.Loaded>
      </Loader::LazyModel>
    </div>
  </div>
</ModalDialog>
