@value sm-font-size from 'qalam/styles/settings/typography';

.container {
  width: 80vw;
  height: 80vh;
  overflow-y: auto;
  position: relative;
}

.title {
  padding-top: 10px;
  padding-left: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 30px;
}

.form {
  padding: 10px;
}

.list {
  padding: 10px;
}

.item {
  display: flex;
  margin-bottom: 20px;
}

.item-info-wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  margin-bottom: 5px;
}

.close-screen {
  position: absolute;
  right: 1rem;
  top: 10px;
  border: none;
  background: transparent;
}
