<div local-class="loading-spinner">
  <div local-class="wrapper">
    <div local-class="ball ball-one"></div>
    <div local-class="ball ball-two"></div>
    <div local-class="ball ball-three"></div>
  </div>
</div>